<h2>Products</h2>
<ul style="list-style-type: none; margin: 0;  padding: 0;">
    <li *ngFor="let product of products" style="margin:25px 0px;">
        <ul>
            <li>Name: {{product.name}}</li>
            <li>Description: {{product.description}}</li>
            <li>Price: {{product.price}}</li>
            <li>Category: {{product.category}}</li>
            <li>Is Available: {{product.isAvailable}}</li>
            <button *ngIf="product.isAvailable" (click)="onBuy(product)">Buy</button>
        </ul>
    </li>
</ul>